/* banner */

.banner_imgcontent{position: relative;width:100%;}
.public_img{display: block;position: absolute;width:100%;height:auto;}
.home_banner{position: relative;}
.banner_rect{position: absolute;bottom: 2%;left: 41%;z-index: 996;width:20%;}
.public_rect{width: 10.5%;height: 4px;background-color: #8095AD;display:inline-block;transition: all 0.5s;cursor: pointer;position: relative;}
.public_rectrun{}
.public_rect:hover{
	transform: scale(1, 2.5);
	transition: all 0.5s;
}

.public_rectrun::after{
	content: "";
	position: absolute;
	height: 100%;
	background-color: #00DAFF;
	animation-name: progessRect;
	animation-duration: 5s;
	animation-iteration-count: 1;
}

@keyframes progessRect{
	0%{
		width: 0;
	}
	10%{
		width: 10%;
	}
	20%{
		width: 20%;
	}
	30%{
		width: 30%;
	}
	40%{
		width: 40%;
	}
	50%{
		width: 50%;
	}
	60%{
		width: 60%;
	}
	70%{
		width: 70%;
	}
	80%{
		width: 80%;
	}
	90%{
		width: 90%;
	}
	100%{
		width: 100%;
	}
}

/* samll banner */
.sbanner_outbox{width:100%;padding: 2% 0;}
.sbanner_innerbox{width:92%;margin: auto;}
.sbr_pbcbox{float: left;width:30%;margin-left: 5%;position: relative;overflow: hidden;}
.sbr_pbcbox:first-child{margin-left: 0;}
.sbr_pbcbox img{width:100%;display:block;}
.sbr_pbcbox a{display:block;}
.srtscale{width: 1px;height:1px;background-color: rgba(255, 255, 255, 0);position:absolute;top: 50%;left: 50%;transition: all 1s;}
.sbr_pbcbox:hover>.srtscale{
	background-color: rgba(255, 255, 255, 0.3);
	transition: all 1s;
	transform: scale(550, 300);
}

/* samll logo */
.slogo_outbox{width: 100%;background-color: #F1F1F1;}
.slogo_innerbox{text-align: center;padding:2% 0;}
.slogo_innerbox h2{font-size:1.7em;margin-top: 0.3%;color:#999999;}

/* tab changed */
.tab_outbox{width: 100%;background-color: #F1F1F1;border-top: 1px solid #fff;padding-top:3%;position: relative;}
.tab_control{text-align:center;}
.tab_control P{display:inline-block;margin-right: 3%;font-size: 1.2em;transition: all 0.3s;cursor:pointer;}
.tab_control P:last-child{margin-right: 0;}
.active_tab{color:#00C9EE;}
.public_tabbox{position: absolute;background-color:#F1F1F1;}
.tab_content0{display:block;width: 100%;padding-bottom: 3%;}
.tab_content1{display:none;width: 100%;padding-bottom: 3%;}
.tab_content2{display:none;width: 100%;padding-bottom: 3%;}
.tab_control P:hover{color:#00C9EE;transition: all 0.3s;}
.tab_publicline{width: 92%;margin:auto;display:flex;}
.tab_publicline a{display:inline-block;width: 18%;margin-left: 2.5%;padding-top:2%;}
.tab_publicline a:first-child{margin-left: 0;}
.tab_publicline a img{width: 100%;height:auto;display:block;}
.public_tabp{color:#8D8E8E;margin-top: 3%;}
.public_tabp1{color:#000;margin-top: 3%;}
.tab_publicline a img:hover{box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);}

/* video */
.vedio_outbox{width: 100%;position: relative;display:block;}
.home_video{width: 100%;display:block;}
.video_a{display:block;position: absolute;top: 0;background-color: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;text-align: center;}
.video_a p{color:#fff;font-size: 2em;text-align: center;}
.video_a p:nth-child(1){margin-top: 12%;}
.video_a p:nth-child(2){margin-top: 1%;}
.video_a p:nth-child(3){margin-top: 2%;border: 1px solid #fff;display:inline-block;padding:0.5% 1%;border-radius: 5px;font-size: 1.5em;transition: all 0.5s;}
.video_a p:nth-child(3):hover{color:#11BCDB;border: 1px solid #11BCDB;transition: all 0.5s;}

/* news content */
.news_outbox{width: 100%;padding: 4% 0;}
.news_onebox{text-align: center;margin-bottom: 3%;}
.news_onebox h1{font-size: 1.8em;letter-spacing: 0.1em;}
.news_onebox p{font-size: 1.25em;margin-top: 1%;position: relative;}
.news_onebox p::before{content: "";position: absolute;width: 5%;height:3px;background-color: #4C4C4C;left: 47.8%;bottom: -100%;}
.news_twobox{margin-top: 2.5%;width: 64%;margin:auto;display:flex;position: relative;overflow: hidden;}
.news_twobox a {margin-left: 2%;display:block;width: 31%;top: 100%;position: relative;}
.news_abnoe{
	left: 0;
	animation-name: atagmovetop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
}
@keyframes atagmovetop {
	0%{
		top: 100%;
	}
	25%{
		top: 8%;
	}
	50%{ 
		top: 0%;
	}
	75%{
		top: 8%;
	}
	100%{
		top: 0;
	}

}
.news_abtwo{
	left: 0;
	animation-name: atagmovetop1;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}
@keyframes atagmovetop1 {
	0%{
		top: 100%;
	}
	25%{
		top: 8%;
	}
	50%{
		top: 0%;
	}
	75%{
		top: 8%;
	}
	100%{
		top: 0;
	}

}
.news_abthree{
	left: 0;
	animation-name: atagmovetop2;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}
@keyframes atagmovetop2 {
	0%{
		top: 100%;
	}
	25%{
		top: 8%;
	}
	50%{
		top: 0%;
	}
	75%{
		top: 8%;
	}
	100%{
		top: 0;
	}

}
.news_twobox a:nth-child(2){position: absolute;left: 33%;}
.news_twobox a:nth-child(3){position: absolute;left: 66%;}
.news_twobox a img{display:block;width: 100%;height:auto;}
.news_twobox a h3{margin-top: 3%;color:#000;font-size: 0.975em;margin-bottom: 5%}
.news_twobox a data{color:#C5C5C5;font-size: 0.975em;}
.news_twobox a p{margin-top: 5%;color:#898989;font-size: 0.975em;}

/* logo banner */
.logo_bannerbox{width: 100%;background-color: #FCFCFC;position: relative;margin-bottom: 3%;}
.logo_berinnerbox{width: 64%;margin:auto;}
.logo_berinnerbox p{margin-left: 2%;font-size: 1.2em;color:#999999;padding:3% 0;}
.logo_bercontent{width: 64%;margin:auto;position: relative;overflow: hidden;}
.logober_pbbox{width: 100%;position: absolute;}
.logober_pbbox div{display:inline-block;width: 12%;margin-right:4.6%;}
.logober_pbbox div:first-child{margin-left:1%;}
.logober_pbbox div:last-child{margin-right:0;}
.logober_pbbox img{width: 100%;height: auto;display:block;}
.logo_banboxone{left: 0%;}
.logo_banboxone1{
	animation-name: logooneanimation;
	animation-duration: 15s;
	animation-fill-mode: backwards;
	animation-iteration-count: infinite;
}
@keyframes logooneanimation {
	0%,30%{
		left: 0%;
	}
	31%,34%{
		left: -100%;
	}
	35%,65%{
		left: -100%;
	}
	66%,69%{
		left: -200%;
	}
	70%,100%{
		left: -200%;
	}
}
.logo_banboxtwo{left:100%;}
.logo_banboxtwo2{
	animation-name: logooneanimation1;
	animation-duration: 15s;
	animation-fill-mode: backwards;
	animation-iteration-count: infinite;
}
@keyframes logooneanimation1 {
	0%,30%{
		left: 100%;
	}
	31%,34%{
		left: 0%;
	}
	35%,65%{
		left: 0%;
	}
	66%,69%{
		left: -100%;
	}
	70%,100%{
		left: -100%;
	}
}
.logo_banboxthree{left: 200%;}
.logo_banboxthree3{
	animation-name: logooneanimation2;
	animation-duration: 15s;
	animation-fill-mode: backwards;
	animation-iteration-count: infinite;
}
@keyframes logooneanimation2 {
	0%,30%{
		left: 200%;
	}
	31%,34%{
		left: 100%;
	}
	35%,65%{
		left: 100%;
	}
	66%,69%{
		left: 0%;
	}
	70%,100%{
		left: 0%;
	}
}

.logo_scircle{position: absolute;left: 48.2%;width: 5%;}
.logo_scircle span{margin-right: 10%;width: 10px;height: 10px;border-radius: 10px;display:inline-block;transition: all 0.5s;cursor:pointer;}
.logo_scircle span:last-child{margin-right:0;}
.public_logocirlce{background-color: #7F8282;}
.public_logocirlce:hover{
	transition: all 0.5s;
	background-color: #24BDDC;
}
.logo_circleactive{background-color: #24BDDC;}

