.newsocket_container{width: 100%;}

.newsocket_bannerbox{position: relative;}
.newsocket_bannerbox video{width:100%;display:block;}
.newsocket_logofont{position: absolute;width:100%;top: 8.2%;z-index: 1001;}
.newsocket_logofont p{color:#fff;margin-left: 10%;font-size: 1.3em;position: relative;display:inline-block;}
.newsocket_logofont p::after{content: "";position: absolute;width:1px;height: 100%;background-color: #fff;left: -1%;}
.newsocket_cover{position: absolute;top: 0;width:100%;height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.nc_ptitleone,.nc_ptitletwo{text-align: center;font-size: 5em;color: #fff;}
.nc_ptitleone{margin-top: 12%;}
.nc_ptitletwo{text-indent: -1em;margin-top: 5%;}
.newsocket_banner_detail {position: absolute;bottom: 5%;width:100%;}
.newsocket_banner_detail ul {text-align: center; }
.newsocket_banner_detail ul li{display: inline-block;margin-right: 5%;}
.newsocket_banner_detail h2{color:#fff;font-size: 2.5em;text-align: left;}
.newsocket_banner_detail p{color:#fff;font-size: 1em;text-align: left;}

.newsocket_content1{background-color: #131517;margin: 1% 0 0;padding: 5% 0;position: relative;}
.newsocket_content1 h3{
	position: absolute;
	color:#fff;
	margin-left: 15%;
	border: 1px solid #1B8FA6;
	display:inline-block;
	padding: 1%;
	border-radius: 5px;
	color:#1B8FA6;
	font-size: 2em;
	font-weight: 100;}
.newsocket_content1 p{color:#fff;margin-left: 15%;}
.ns_c1_lp{margin-top: 6%;position: absolute;width:100%;opacity: 0;transition: all 1s;}
.ns_c1_lp_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c1_lp p{font-size: 4em;}
.ns_c1_l_detial{margin-top: 22%;font-size:1.35em;position: absolute;transition: all 1s;opacity:0;}
.ns_c1_l_detial_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c1_right{width:50%;float: right;}
.ns_c1_right img{width: 100%;display:block;}

.newsocket_cotnent2{width: 100%;position: relative;}
.newsocket_cotnent2 img{display:block;width:100%;}
.newsocket_cotnent2 p {position: absolute;bottom: 30%;right: 10%;font-size: 1.4em;line-height: 1.9em;display:inline;width:35%;}

.newsocket_content3{width: 100%;position: relative;}
.newsocket_content3 img{width: 100%;display: block;}
.ns_c3_title{position: absolute;width:100%;top: 12%;color:#fff;text-align: center;transition: all 1s;opacity:0;}
.ns_c3_title p{font-size: 4.5em; }
.ns_c3_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.ns_c3_iconrow1{position: absolute;width:100%;top: 38%;text-align: center;}
.ns_c3_iconrow1 div{display: inline-block;margin-right: 5%;}
.ns_c3_iconrow1 span{display: inline-block;}
.ns_c3_iconrow1 p{color:#fff;margin-top: 10%;font-size: 1.3em;}
.ns_c3_iconrow1 :last-child{margin-right:0;}
.icon-socket-b1::before{content: "\e911";}
.icon-socket-b2::before{content: "\e917";}
.icon-socket-b3::before{content: "\e910";}
.icon-socket-b4::before{content: "\e912";}

.ns_c3_iconrow2{position: absolute;width:100%;top: 65%;text-align: center;}
.ns_c3_iconrow2 div{display: inline-block;margin-right: 5%;}
.ns_c3_iconrow2 span{display: inline-block;}
.ns_c3_iconrow2 p{color:#fff;margin-top: 10%;font-size: 1.3em;}
.ns_c3_iconrow2 :last-child{margin-right:0;}
.icon-socket-b5::before{content: "\e913";}
.icon-socket-b6::before{content: "\e914";}
.icon-socket-b7::before{content: "\e915";}
.icon-socket-b8::before{content: "\e916";}

.pb_skt1{color:#999;font-size: 10em;border: 1px solid rgba(0, 0, 0, 0);
	box-shadow:  0 0 10px rgba(0, 0, 0, 0);}
.pb_skt1:hover{
	color:#fff ;
	border: 1px solid #1B8FA6;
	border-radius: 50%;
	box-shadow:  0 0 20px #1B8FA6;
}

.newsocket_content4{padding: 5% 0;background-color:#C1C1BB;text-align: right;position: relative;}
.ns_c4_banner{width: 50%;display: inline-block;}
.ns_c4_banner img{display: block;width:100%;}
.ns_c4_title{position: absolute;color:#000;top: 15%;text-align: left;font-size: 4.5em;margin-left: 18%;}
.ns_c4_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c4_title span{color:#fff;font-size: 1em;}
.ns_c4_detail{position: absolute;color:#000;top: 55%;text-align: left;margin-left: 18%;font-size: 1.2em;}
.ns_c4_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.newsocekt_content5{width: 100%;background-color: #D0D0D0;position: relative;}
.ns_c5_banner{width: 60%;text-align: left;}
.ns_c5_banner img{width: 100%;display: block;}
.newsocekt_content5 p:nth-child(2){border: 2px solid #1CABC7;display: inline-block;padding: 0.5% 1%;color:#1CABC7;font-size: 2em;border-radius: 5px;position: absolute;top: 10%;right: 15%;}

.ns_c5_detail{font-size: 3.4em;position: absolute;top: 22%;right: 15%;}
.ns_c5_detail span{color:#fff;display: inline-block;font-size: 1em;}

.newsocekt_content5 p:nth-child(4){top: 44%;position: absolute;right: 15%;font-size: 1.5em;}
.newsocekt_content5 p:nth-child(5){position: absolute;bottom: 5%;right: 15%;font-size: 2em;}
.ns_c5_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c5_p_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c5_p1_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.newsocket_content6{width: 100%;}
.ns_c6_banner{width: 100%;}
.ns_c6_banner img{width: 100%;display: block;}

.newsocket_content7{width:100%;position: relative;}
.ns_c7_banner img{width: 100%;display: block;}
.ns_c7_title{color:#fff;top: 10%;position: absolute;font-size: 4em;text-align: center;width: 100%;}
.ns_c7_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.ns_c7_brgrounp{position: absolute;bottom: 6.7%;width:100%;display: flex;}
.ns_c7_brgrounp div{margin-right:0.2%;}
.ns_c7br_1,.ns_c7br_2,.ns_c7br_3,.ns_c7br_4{display: inline-block;}
.ns_c7br_1 img{display: block;width:100%;}

.ns_c7br_2 img{display: block;width:100%;}
.ns_c7br_2_down{margin-top: 2.5%;}

.ns_c7br_3 img{display: block;width: 100%;}

.ns_c7br_4 img{display: block;width: 100%;}
.ns_c7br_4_down{margin-top: 2.5%;}

.newsocekt_content8{width: 100%;padding: 8% 0;position: relative;}
.ns_c8_banner{width: 67%;}
.ns_c8_banner img {display: block;width: 100%;} 
.ns_c8_title{position: absolute;right: 10%;top: 16%;font-size: 4em;}
.ns_c8_pic{position: absolute;right: 10%;top: 37%;}
.ns_c8_detail{position: absolute;right: 10%;bottom: 17%; font-size: 1.2em;color:#444;}
.ns_c8_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c8_pic_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c8_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.newsocket_content9{width: 100%;text-align: right;background-color: #E3E3E3;position: relative;}
.ns_c9_banner{width: 60%;display: inline-block;}
.ns_c9_banner img{display: block;width: 100%;}
.ns_c9_desgin{position: absolute;top: 10%;border: 1px solid #1CABC7;padding: 0.5% 1%;border-radius: 5px;color: #1CABC7;font-size: 2em;left: 15%;}
.ns_c9_title{position: absolute;top: 20%;left: 15%;font-size: 4em;}


@keyframes showfont{
	100%{
		transform: translateY(-10px);
		opacity:1;
	}
}

