.newsocket_container{width: 100%;}

.newsocket_bannerbox{position: relative;}
.newsocket_bannerbox video{width:100%;display:block;}
.newsocket_logofont{position: absolute;width:100%;top: 8.2%;z-index: 1001;}
.newsocket_logofont p{color:#fff;margin-left: 10%;font-size: 1.3em;position: relative;display:inline-block;}
.newsocket_logofont p::after{content: "";position: absolute;width:1px;height: 100%;background-color: #fff;left: -1%;}
.newsocket_cover{position: absolute;top: 0;width:100%;height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.nc_ptitleone,.nc_ptitletwo{text-align: center;font-size: 5em;color: #fff;}
.nc_ptitleone{margin-top: 12%;}
.nc_ptitletwo{text-indent: -1em;margin-top: 5%;}
.newsocket_banner_detail {position: absolute;bottom: 5%;width:100%;}
.newsocket_banner_detail ul {text-align: center; }
.newsocket_banner_detail ul li{display: inline-block;margin-right: 5%;}
.newsocket_banner_detail h2{color:#fff;font-size: 2.5em;text-align: left;}
.newsocket_banner_detail p{color:#fff;font-size: 1em;text-align: left;}

.newsocket_content1{background-color: #131517;margin: 1% 0 0;padding: 5% 0;position: relative;}
.newsocket_content1 h3{
	position: absolute;
	color:#fff;
	margin-left: 15%;
	border: 1px solid #1B8FA6;
	display:inline-block;
	padding: 1%;
	border-radius: 5px;
	color:#1B8FA6;
	font-size: 2em;
	font-weight: 100;}
.newsocket_content1 p{color:#fff;margin-left: 15%;}
.ns_c1_lp{margin-top: 6%;position: absolute;width:100%;opacity: 0;transition: all 1s;}
.ns_c1_lp_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c1_lp p{font-size: 4em;}
.ns_c1_l_detial{margin-top: 22%;font-size:1.35em;position: absolute;transition: all 1s;opacity:0;}
.ns_c1_l_detial_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c1_right{width:50%;float: right;}
.ns_c1_right img{width: 100%;display:block;}

.newsocket_cotnent2{width: 100%;position: relative;}
.newsocket_cotnent2 img{display:block;width:100%;}
.newsocket_cotnent2 p {position: absolute;bottom: 30%;right: 10%;font-size: 1.4em;line-height: 1.9em;display:inline;width:35%;}

.newsocket_content3{width: 100%;position: relative;}
.newsocket_content3 img{width: 100%;display: block;}
.ns_c3_title{position: absolute;width:100%;top: 12%;color:#fff;text-align: center;transition: all 1s;opacity:0;}
.ns_c3_title p{font-size: 4.5em; }
.ns_c3_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.ns_c3_iconrow1{position: absolute;width:100%;top: 38%;text-align: center;}
.ns_c3_iconrow1 div{display: inline-block;margin-right: 5%;}
.ns_c3_iconrow1 span{display: inline-block;}
.ns_c3_iconrow1 p{color:#fff;margin-top: 10%;font-size: 1.3em;}
.ns_c3_iconrow1 :last-child{margin-right:0;}
.icon-socket-b1::before{content: "\e911";}
.icon-socket-b2::before{content: "\e917";}
.icon-socket-b3::before{content: "\e910";}
.icon-socket-b4::before{content: "\e912";}

.ns_c3_iconrow2{position: absolute;width:100%;top: 65%;text-align: center;}
.ns_c3_iconrow2 div{display: inline-block;margin-right: 5%;}
.ns_c3_iconrow2 span{display: inline-block;}
.ns_c3_iconrow2 p{color:#fff;margin-top: 10%;font-size: 1.3em;}
.ns_c3_iconrow2 :last-child{margin-right:0;}
.icon-socket-b5::before{content: "\e913";}
.icon-socket-b6::before{content: "\e914";}
.icon-socket-b7::before{content: "\e915";}
.icon-socket-b8::before{content: "\e916";}

.pb_skt1{color:#999;font-size: 10em;border: 1px solid rgba(0, 0, 0, 0);
	box-shadow:  0 0 10px rgba(0, 0, 0, 0);}
.pb_skt1:hover{
	color:#fff ;
	border: 1px solid #1B8FA6;
	border-radius: 50%;
	box-shadow:  0 0 20px #1B8FA6;
}

.newsocket_content4{padding: 5% 0;background-color:#C1C1BB;text-align: right;position: relative;}
.ns_c4_banner{width: 50%;display: inline-block;}
.ns_c4_banner img{display: block;width:100%;}
.ns_c4_title{position: absolute;color:#000;top: 15%;text-align: left;font-size: 4.5em;margin-left: 18%;}
.ns_c4_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c4_title span{color:#fff;font-size: 1em;}
.ns_c4_detail{position: absolute;color:#000;top: 55%;text-align: left;margin-left: 18%;font-size: 1.2em;}
.ns_c4_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.newsocekt_content5{width: 100%;background-color: #D0D0D0;position: relative;}
.ns_c5_banner{width: 60%;text-align: left;}
.ns_c5_banner img{width: 100%;display: block;}
.newsocekt_content5 p:nth-child(2){border: 2px solid #1CABC7;display: inline-block;padding: 0.5% 1%;color:#1CABC7;font-size: 2em;border-radius: 5px;position: absolute;top: 10%;right: 15%;}

.ns_c5_detail{font-size: 3.4em;position: absolute;top: 22%;right: 15%;}
.ns_c5_detail span{color:#fff;display: inline-block;font-size: 1em;}

.newsocekt_content5 p:nth-child(4){top: 44%;position: absolute;right: 15%;font-size: 1.5em;}
.newsocekt_content5 p:nth-child(5){position: absolute;bottom: 5%;right: 15%;font-size: 2em;}
.ns_c5_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c5_p_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c5_p1_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.newsocket_content6{width: 100%;}
.ns_c6_banner{width: 100%;}
.ns_c6_banner img{width: 100%;display: block;}

.newsocket_content7{width:100%;position: relative;}
.ns_c7_banner img{width: 100%;display: block;}
.ns_c7_title{color:#fff;top: 10%;position: absolute;font-size: 4em;text-align: center;width: 100%;}
.ns_c7_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.ns_c7_brgrounp{position: absolute;bottom: 6.7%;width:100%;display: flex;}
.ns_c7_brgrounp div{margin-right:0.2%;}
.ns_c7br_1,.ns_c7br_2,.ns_c7br_3,.ns_c7br_4{display: inline-block;}
.ns_c7br_1 img{display: block;width:100%;}

.ns_c7br_2 img{display: block;width:100%;}
.ns_c7br_2_down{margin-top: 2.5%;}

.ns_c7br_3 img{display: block;width: 100%;}

.ns_c7br_4 img{display: block;width: 100%;}
.ns_c7br_4_down{margin-top: 2.5%;}

.newsocekt_content8{width: 100%;padding: 8% 0;position: relative;}
.ns_c8_banner{width: 67%;}
.ns_c8_banner img {display: block;width: 100%;} 
.ns_c8_title{position: absolute;right: 10%;top: 16%;font-size: 4em;}
.ns_c8_pic{position: absolute;right: 10%;top: 37%;}
.ns_c8_detail{position: absolute;right: 10%;bottom: 17%; font-size: 1.2em;color:#444;}
.ns_c8_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c8_pic_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}
.ns_c8_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
}

.newsocket_content9{width: 100%;background-color: #E3E3E3;position: relative;}
.ns_c9_banner{width: 100%;display: block;}
.ns_c9_banner img{display: block;width: 60%;float: right;}
.ns_c9_desgin{position: absolute;top: 10%;border: 1px solid #1CABC7;padding: 0.5% 1%;border-radius: 5px;color: #1CABC7;font-size: 2em;left: 15%;}
.ns_c9_title{position: absolute;top: 20%;left: 15%;font-size: 4em;}
.ns_c9_detail{position: absolute;bottom: 10%;left: 15%;}
.ns_c9_desgin_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}	
.ns_c9_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c9_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content10{width: 100%;position: relative;}
.ns_c10_banner img {display: block;width:100%;}
.ns_c10_title1{position: absolute;top: 10%;right: 15%;color: #fff;font-size: 4em;}
.ns_c10_title2{position: absolute;top: 20%;right: 15%;color: #fff;font-size: 4em;}
.ns_c10_desgin{position: absolute;top: 35%;right: 15%;color: #fff;border: 1px solid #fff;padding: 1% 2%;border-radius: 10px;}
.ns_c10_desgin :first-child{font-size: 4em;text-align: center;}
.ns_c10_desgin :last-child{font-size: 2em;text-align: center;}
.ns_c10_detail {position:absolute;top: 70%;right: 15%;color: #fff;font-size: 1.4em;} 
.ns_c10_title1_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c10_title2_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c10_desgin_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c10_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newscoket_content11{width: 100%;position: relative;padding: 5% 0;}
.ns_c11_banner img{width: 55%;display: block;float: right;}
.ns_c11_title{position: absolute;left: 15%;top: 15%;font-size: 4em;}
.ns_c11_desgin{position: absolute;left: 15%;top: 38%;border: 1px solid #000;padding: 1% 1%;border-radius: 10px;}
.ns_c11_desgin p {font-size: 2em;}
.ns_c11_detail{position: absolute;left: 17%;top: 80%;width:83%;}
.ns_c11_detail p {display: inline-block;margin-right:5%;font-size: 1.4em;font-weight: 900;position: relative;}
.ns_c11_detail p:nth-child(1)::after{content: "";width:25%;height: 100%;background-color: #B23F00;position: absolute;left: -40%;border-radius: 50%;}
.ns_c11_detail p:nth-child(2)::after{content: "";width:25%;height: 100%;background-color: #000;position: absolute;left: -40%;border-radius: 50%;}
.ns_c11_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c11_desgin_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c11_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content12{width: 100%;position: relative;}
.ns_c12_banner{width:100%;}
.ns_c12_banner img {width:100%;display: block;}
.ns_c12_title{position: absolute;color: #fff;top:25%;left: 10%;font-size: 4em;}
.ns_c12_detail{position: absolute;color: #fff;top: 65%;left:10%;font-size: 1.5em;}
.ns_c12_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c12_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content13{width: 100%;padding: 5% 0;position: relative;}
.ns_c13_banner{width: 100%;}
.ns_c13_banner img{width: 55%;float:right;display: block;}
.ns_c13_pic{left: 10%;top: 15%;position: absolute;}
.ns_c13_title{left: 10%;top: 28%;position: absolute;font-size: 4em;}
.ns_c13_detail{left: 10%;top :60%;position: absolute;font-size: 1.3em;letter-spacing: 0.5em;}
.ns_c13_pic_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c13_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c13_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content14{width: 100%;background-color: #2B2F44;position: relative;}
.ns_c14_banner img {width: 65%;display: block;}
.ns_c14_desgin{position: absolute;right: 12%;top: 10%;color: #1D9FBA;padding: 1% 1%;border: 2px solid #1D9FBA;border-radius: 10px;}
.ns_c14_desgin p{font-size: 3em;}
.ns_c14_title{position: absolute;right: 12%;color: #fff;top: 23%;font-size: 4em;}
.ns_c14_detail{position: absolute;bottom: 10%;color: #fff;font-size: 1.5em;right: 12%;}
.ns_c14_desgin_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c14_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c14_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newscoket_cotent15{width: 100%;position: relative;}
.ns_c15_banner{width: 100%;}
.ns_c15_banner img{width: 100%;display: block;}
.ns_c15_title{position: absolute;top: 10%;text-align: center;letter-spacing: 1em;width: 100%;font-size: 4em;}
.ns_c15_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content16{width: 100%;position: relative;background-color:#030513;}
.ns_c16_banner{width: 100%;}
.ns_c16_banner img{width: 65%;display: block;}
.ns_c16_title{position: absolute;top: 10%;right: 12%;color: #fff;font-size: 4em;}
.ns_c16_detail{position: absolute;top: 23%;color: #fff;font-size: 2em;right: 0;text-align: right;margin-right: 12%;}
.ns_c16_footer{position: absolute;bottom: 20%;color: #fff;font-size: 1.5em; text-align: right;right: 0;margin-right:12%;}
.ns_c16_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c16_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c16_footer_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content17{width: 100%;padding: 5% 0;position: relative;background-color: #E7EDEE;}
.ns_c17_banner{width: 100%;}
.ns_c17_banner img{width: 60%;display: block;float: right;}
.ns_c17_title{position: absolute;top: 17%;left: 17%;font-size: 4em;}
.ns_c17_pic{position: absolute;top: 37%;left: 15%;}
.ns_c17_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c17_pic_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}	

.newsocket_content18{width:100%;position: relative;background-color: #E2E1E7;padding: 5% 0;}
.ns_c18_banner{width: 100%;}
.ns_c18_banner img{width: 60%;display: block;}
.ns_c18_title{position: absolute;top: 20%;right: 15%;font-size: 4em;}
.ns_c18_pic{position: absolute;top: 40%;right: 15%;}
.ns_c18_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c18_pic_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content19{width: 100%;position: relative;}
.ns_c19_banner img{width: 100%;display: block;}
.cs_c19_desgin{color: #fff;position: absolute;top: 40%;left: 10%;border: 1px solid #fff;padding: 1%;border-radius: 10px;}
.cs_c19_desgin p {font-size: 3em;}
.cs_c19_credentails1{width: 50%;position: absolute;top: 12%;right: 10%;}
.cs_c19_credentails1 img{width: 30%;display: inline-block;margin-right: 2%;}
.cs_c19_credentails1 img:last-child{margin-right: 0;}
.cs_c19_credentails2{width: 50%;position: absolute;bottom: 12%;right: 10%;}
.cs_c19_credentails2 img{width: 30%;display: inline-block;margin-right: 2%;}
.cs_c19_credentails2 img:last-child{margin-right: 0;}

.newsocket_video2{display: block;width:100%;}

.newsocket_video3{width: 100%;padding: 5% 0;position: relative;}
.newsocket_video3 video{width: 40%;display: block;}
.ns_v3_title{position: absolute;top: 15%;right: 20%;font-size: 5em;}
.ns_v3_detail{position: absolute;bottom: 20%;right: 20%;font-size: 1.3em;letter-spacing: 0.3em;}
.ns_v3_title_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_v3_detail_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_content20{width: 100%;background-color: #000;text-align: center;padding: 8% 0 5%;}
.ns_c20_title1{width: 100%;text-align: center;color: #fff;font-size: 4em;}
.ns_c20_title2{width: 100%;text-align: center;color: #fff;font-size: 4em;margin-top: 1%;}
.ns_c20_desgin{border: 1px solid #fff;width: 13%;padding: 1% 0;display: inline-block;margin-top: 1%;border-radius: 10px;}
.ns_c20_desgin p {color: #fff;text-align: center;}
.ns_c20_desgin p:first-child{font-size: 2em;}
.ns_c20_desgin p:last-child{font-size: 3em;}
.ns_c20_banner{width: 46%;display: inline-block;margin-top: 1%;}
.ns_c20_banner img{display: block;width: 100%;}
.ns_c20_title1_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c20_title2_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}
.ns_c20_desgin_show{
	transition: all 1s;
	animation-name: showfont;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s
}

.newsocket_product{width: 100%;background-image: url('../image/newsocket/newsocket-product-bg.jpg'); background-repeat: no-repeat;padding: 5% 0;background-color: #F6F6F6;}

.product_type_one{margin-top: 3%;width: 51.5%;display: inline-block;}
.product_type_two{margin-top: 0.3%;width: 51.5%;display: inline-block;}
.product_type_three{margin-top: 0.3%;width: 51.5%;display: inline-block;}
.product_type_four{margin-top: 0.3%;width: 51.5%;display: inline-block;}
.product_type_five{margin-top: 0.3%;width: 51.5%;display: inline-block;}

.product_title{text-align: center;font-size: 3em;}
.product_control_box{text-align: center;width: 100%;}
.product_big_picture {position: relative;width: 100%;display: block;}
.product_big_picture img{width: 100%;display: block;}

.pdt_pbc_typeone_down{width: 100%;display: flex;margin-top: 1%;}
.pdt_pbc_typeone_down a{margin-right:1%;width: 33%;position: relative;}
.pdt_pbc_typeone_down a:last-child{margin-right: 0;}
.pdt_pbc_typeone_down a img{width: 100%;display: block;}

.pdt_pbc_title{position: absolute;color: #000;top: 30%;font-size: 2em;right: 10%;}
.pdt_pbc_detail{position: absolute;color: #000;top: 40%;font-size: 1.4em;right: 10%;}
.pdt_pbc_btn{position: absolute;color: #fff;top: 55%;right: 10%;background-color: #000;padding:1% 2%;font-size: 2em;}

.pdt_spbc_title{position: absolute;color: #000;top: 58%;font-size: 1.4em;width: 100%;text-align: center;}
.pdt_spbc_detail{position: absolute;color: #000;top: 68%;font-size: 1.2em;width: 100%;text-align: center;}
.pdt_spbc_btn{position: absolute;color: #fff;top: 78%;background-color: #000;padding:1% 2%;font-size: 2em;transform: translateX(-50%);left: 50%;}

.newsocket_content21{position: relative;}
.ns_c21_banner{width: 100%;}
.ns_c21_banner img{width: 100%;display: block;}
.ns_c21_pic{position: absolute;top: 30%;text-align: center;width: 100%;}
.ns_c21_pic img{display: inline-block;}
.ns_c21_detail1{position: absolute;text-align: center;top: 52%;color: #fff;width: 100%;font-size: 3em;}
.ns_c21_detail2{position: absolute;text-align: center;top: 61%;color: #fff;width: 100%;font-size: 1.7em;}

.newsocket_content22{width: 100%;background-image: url('../image/newsocket/newsocket-content22.jpg');padding: 8% 0;position: relative;background-repeat: no-repeat;}
.ns_c22_content{width: 80%;background-color: #2D2D2D;}
.ns_c22_content_left{width: 45%;display: inline-block;padding: 5% 0;margin-right: 5%;}
.ns_c22_content_right{width: 45%;display: inline-block;padding: 5% 0;}
.ns_c22_title{position: absolute;right:12.5%;top: 11%;}
.ns_c22_title p {color: #fff;}
.ns_c22_title p:first-child{font-size: 5em;}
.ns_c22_title p:last-child{font-size: 2.5em;}

.ns_c22_pic{display: inline-block;width: 30%;margin-right: 4%;text-align: center;vertical-align: middle;}
.ns_c22_pic img{display: inline-block;width: 70%;}
.ns_c22_pic p {text-align: center;margin-top: 5%;font-size: 1.5em;color: #fff;}
.ns_c22_text{display: inline-block;width: 65%;vertical-align: middle;}
.ns_c22_text :first-child{font-size: 1.6em;color: #fff;line-height: 1em;}
.ns_c22_text :last-child{font-size: 1.4em;color: #fff;line-height: 1.5em;margin-top: 10%;}
.ns_c22_bigpic{text-align: center;}
.ns_c22_bigbox{width: 80%;display: inline-block;margin-top: 5%;}
.ns_c22_bigpic img{width: 100%;display: block;}

.newsocekt_content23{width: 100%;background-color: #F8D016;display: flex;justify-content: center;padding: 5% 0;}
.ns_c23_one{width: 22%;}
.ns_c23_two{width: 31%;margin-right:2%;}
.ns_c23_two {vertical-align: middle;}
.ns_c23_three{width: 31%;}
.ns_c23_two img,.ns_c23_three img{
	width: 100%;
	display: block;
}
.ns_c23_two p{font-size: 2em;text-align: center;padding: 5% 0;border-bottom: 1px solid #444;}
.ns_c23_three p{font-size: 2em;text-align: center;padding: 4.3% 0;border-bottom: 1px solid #444;}
.ns_c23_one p {font-size: 4em;}

.newsocket_partner img{width: 100%;display: block;}
@keyframes showfont{
	100%{
		transform: translateY(-10px);
		opacity:1;
	}
}

